@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/
body,
button,
/* input, */
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f0dcf7;
  outline: 0.05rem solid #21295c;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.shop__title {
  text-align: center;
  background-color: #010317;
  font-weight: 700;
  color: azure;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}

#placeOrder {
  text-align: center;
  align-content: center;
  align-self: center;
  background-color: #010317;
  color: azure;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem;
}

.toppings ul {
  list-style: none;
}

/* spacing */

table {
  table-layout: fixed;
  width: 95%;
  min-width: 50vw;
  border-collapse: collapse;
  border: 0.05rem solid #21295c;
  border-radius: 20px;
  background-color: #f0dcf7;
  margin: 1rem;
  padding: 0.5rem;
  /* outline: 0.05rem solid #21295c; */
}

td {
  padding: 20px;
  border: 1px solid #21295c;
  text-align: center;
}

th {
  padding: 20px;
  font-weight: bolder;
  border: 1px solid #21295c;
  background-color: #010317;
  color: azure;
}
